h1 {
  color: dimgray;
}
.p {
  color: dimgrey;
  align-self: center;
}
.thing {
  background: lavender;
  width: 450px;
  height: 55;
  border-radius: 20px;
}
.back {
  background: lavender;
  width: 1000px;
  height: 500;
  border-radius: 20px;
}
